on post-fs-data
    # For oneplus camera hal
    write /data/misc/camera/client_package_name "com.oneplus.camera"
    chmod 0444 /data/misc/camera/client_package_name

on post-fs
    # Vibrator intensity
    chown system system /sys/class/leds/vibrator/vmax_override
    write /sys/class/leds/vibrator/vmax_override 1
    chown system system /sys/class/leds/vibrator/vmax_mv_user
    chown system system /sys/class/leds/vibrator/vmax_mv_call
    chown system system /sys/class/leds/vibrator/vmax_mv_strong
